language: go

go:
  - 1.12.x
env:
  - GO111MODULE=on

script: 
  - go mod download
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic./...

after_success:
  - bash <(curl -s https://codecov.io/bash) 
